<div data-role="header">
	<a href="#myPanel" data-icon="bars" data-iconpos="notext"> Menu </a>
    <h1 data-position="right">{{title}}</h1>
</div>
<div data-role="content">
    <h3>{{subTitle}}</h3>
    <p>{{navigationLabel}}</p>
</div>