<div data-role="header" data-theme="b">
    <a href="#myPanel" data-icon="bars" data-iconpos="notext"> Menu </a>
    <h1>{{pageTitle}}</h1>
</div>

<div data-role="content">
    <div id="questios_{{pageNumber}}">
    </div>
</div>