div h3 a{
    white-space: pre !important;           /* CSS 2.0 */
    white-space: pre-wrap !important;      /* CSS 2.1 */
    white-space: pre-line !important;      /* CSS 3.0 */
    white-space: -pre-wrap !important;     /* Opera 4-6 */
    white-space: -o-pre-wrap !important;   /* Opera 7 */
    white-space: -moz-pre-wrap !important; /* Mozilla */
    white-space: -hp-pre-wrap !important;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

.correct-answer {
	background-color: green !important;
}

.wrong-answer {
	background-color: red !important;
}

.question-info {
    cursor: pointer;
    color: green;
    padding-left: 16px;
    background-image: url("images/icons-png/info-black.png");
    background-repeat: no-repeat;
    background-size: 14px 14px;
}
